header{
    padding: 20px;
    background-color: #444;
    color: white;
}
.todo-list-item img{
    width: 100%;
    height: 300px;
}
.logo{
    padding-top: 3px;
}
.todo-list-item{
    padding: 10px;
}
.todo-list-item:hover{
    background-color:#eee;
    cursor: pointer;
}
.details {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
.filter{
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100vh;
}
.details-info{
    background-color: white;
    padding: 20px;
    z-index: 100;
}
.details-info h4{
    margin-top: 5px;
}
.details-info-header{
    width: 100%;
}
.btn{
    cursor: pointer;
}
.details-info p{
    font-size: 14px;
    color: #666;
}
h1,h2,h3,h4,h5,h6{
    color: black;
}
.empty-zone,.loading{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

